
.navbar {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav--content {
    display: flex;
    align-items: center;
}

.nav--troll {
    width: 50px;
    margin-right: 10px;
}

.navbar h2 {
    margin: 0;
    font-size: 40px;
    color: #fff;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -3px;
}



.nav--text p {
    margin: 0;
    font-size: 20px;
    color: #fff;
    line-height: 10px;
    font-weight: 500;
    letter-spacing: -1px;
}

@media only screen and (max-width:640px) {
   
    .nav--troll {
        width: 30px;
        margin-right: 5px;
    }

    .navbar h2 {
        font-size: 18px;
        line-height: 12px;
        font-weight: 700;
        letter-spacing: -1px;
    }
    

    .nav--text p {
        font-size: 12px;
        line-height: 5px;
        font-weight: 500;
        letter-spacing: -0.2px;
    }
}